*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    font-family: sans-serif;
}
.container{
    width: 1140px;
    margin: auto;
}
.common-button{
    color: white;
    padding: 15px 25px;
    background:rgb(56, 104, 194);
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

/*profile start*/

#profile{
    padding: 50px 0px;
}
.profile-div{
    display: flex;

}
.half-width{
    width: 50%;
}
.profile-text-part{
    margin-right: 20px;
    margin-top: 70px;
}
.profile-text-heading{
    position: relative;
    margin-bottom: 20px;
}
.profile-text-heading::before{
    position: absolute;
    content: '';
    width: 3px;
    height: 100px;
    background:rgb(56, 104, 194);
    margin-top: 10px;
    border-radius: 10px;
}
.profile-text-heading h1{
    font-size: 50px;
    font-family: sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    margin-left: 10px;
}
.heading-mission{
    color: #FFAD5A;
    font-family: 'Roboto', sans-serif;
}
.profile-text-paragraph{
    line-height: 25px;
    margin-bottom: 20px;
}
.profile-image-part{
    text-align: center;
}
.profile-image-part img{
    width: 70%;
}


/*My mission start */

#my-mission{
    margin: 50px 0;
}
.mission-div{
    display: flex;
    justify-content: space-between;
}
.mission-box{
    width: 31%;
    background-color:#EDF5F6;
    border-radius: 20px;
    padding: 25px 20px;
    box-sizing: border-box;
    text-align: center;
}
.my-mission-heading h1{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    color: #13103A;
    text-align: center;
    margin-bottom: 50px;
}
.span-color{
    color: #FFAD5A;
}
.bg-1{
    background: #FFEEEE;
}
.bg-2{
    background: #FFF4D6;
}
.mission-box-title h2{
    font-size: 25px;
    margin-bottom: 20px;
}
.mission-box-image{
    margin-bottom: 20px;
}
.mission-box-image img{
    width: 40%;`
}
.mission-box-paragraph{
    font-family:  'Roboto', sans-serif;
    line-height: 25px;
}

/* Develop and Community and application start */

#develop{
    margin: 100px 0px;
    background-image: url(../images/shape/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-y: 100px;
    background-position-x:20px ;
}
#community{
    padding-bottom: 80px;
    background-image: url(../images/shape/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: right;
    background-position-y: bottom;
}
#application{
    margin-bottom: 50px;
}
.application-heading{
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.common-flex-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.common-image-div{
    width: 35%;
}
.common-image-div img{
    width: 100%;
}
.common-text-div{
    width: 60%;
}
.common-text-div h1{
    font-size: 40px;
    line-height: 55px;
    font-family: 'Caveat', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
    color: #333;
    margin-bottom: 20px;
}
.common-text-div p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}
.application-text {
    width: 50%;
}
.application-text h1{
    font-size: 55px;
    line-height: 70px;
}
.application-image{
    width: 50%;
    text-align: center;
    margin-left: -50px;
}
.application-image img{
    width: 50%;
}


/* Footer part start  */

footer{
    background: #0B0D17;
    text-align: center;
    padding: 40px 0px;
}
footer h2{
    color: white;
    margin-bottom: 30px;
    font-family: cursive;
    font-size: 30px;
}
footer h2 span{
    color: #FF5959;
}
footer p{
    color: #BABCC2;
}